six==1.16.0
smart-open==3.0.0
snorkel==0.9.7
spacy==3.0.6
spacy-alignments==0.8.3
spacy-legacy==3.0.5
spacy-nightly==3.0.0rc5
spacy-transformers==1.0.2
srsly==2.4.1
tensorboard==1.15.0
thinc==8.0.3
threadpoolctl==2.1.0
tokenizers==0.10.3
torch==1.8.1
tornado==6.1
tqdm==4.61.0
traitlets==5.0.5
transformers==4.5.1
typer==0.3.2
typing-extensions==3.10.0.0
urllib3==1.26.5
wasabi==0.8.2
wcwidth==0.2.5
Werkzeug 
wincertstore==0.2
zipp
boto3